p, [class^="col"], [class*=" col"]{
	margin: 0;
	padding: 0;
}

.banner{
	height: 22rem;
}

.opcoes{
	height: 12rem;
}

.cardapio{
	height: 10rem;
	background: red;
}

.form{
	background-color: red;
	height: 22rem;
}

.segue{
	background-color: green;
	height: 23rem;
}

.foto{
	background-color: gray;
}

.foto-row{
	height: 11rem;
}

.rodape{
	background-color: white;
	height: 5rem;
}