h2 ,a, p, [class^="col"], [class*=" col"]{
	margin: 0;
	padding: 0;
}

.header div{
    background-color: #FFD704;
}

.logo{
    font-size: 2rem;
}

.link{
    text-decoration: none;
    color: black;
}

.whatzap{
    background-color: #0BD42B;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.whatzap:hover{
    background-color: #01a51c;
    transition: 0.5s;
}

.banner{
    background-image: url(../img/burguers1.jpeg);
    color: white;
    height: 22rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.opcoes{
    background-color: #FFD704;
}

.imagem{
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    color: white;
    background-position: 50% 0%;
}

#burger{
    background-image: url(../img/burguer1.jpeg);
}

#combo{
    background-image: url(../img/combo-1.jpeg);
}

#burger:hover, #combo:hover{
    background-color: rgba(0, 0, 0, 0.212);
}

.cardapioimg{
    width: 70%;
}

.nomeBurger{
    color: #DE0A0A;
    font-weight: bold;
}

.cinza{
    background-color: #F4F4F8;
}

.bege{
    background-color: #FFD7041F;
}

iframe{
    width: 80%;
    height: 100%;
}

form{
    width: 80%;
}

.foto img{
    width: 100%;
}

.segueTitle{
    font-size: 70pt;
    text-align: center;
    color: #FFD704;
}

.social{
    color: white;
}